* {
	margin: 0;
	padding: 0;
}
:root {
	--blue: #2196F3;
	--white: #fff;
	--color-font-title: #212121;
	--color-font-text: #757575;
	--color-fon-crew: #F5F4FA;
	--color-fon: #2F303A;
	/* portfolio */
	--color-button-hover: #2196F3;
	--color-btn-portfolio: #F5F4FA;
}
body {
	width: 100%;
	max-width: 100%;
	font-family: "Roboto", sans-serif;
	color: var(--color-font-text);
}
/* blok header */
.header {
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.17;
	color: var(--color-font-title);
	margin-right: 93px;
	text-decoration: none;
}
.logo:hover {
	color: var(--color-font-title);
}
.logo span {
	color: var(--blue);
}
.items {
	display: flex;
	align-items: center;
	margin-top: 5px;
	list-style: none;
}
.item {
	margin-right: 50px;
}
.nav-link {
	color: var(--color-font-title);
	font-size: 14px;
	transition: all .4s;
	text-decoration: none;
}
.nav-link:hover, 
.nav-link:focus {
	color: var(--blue);
}
.current {
	color: var(--blue);
}
.contacts {
	display: flex;
}
.contact {
	list-style: none;
}
.contact-link {
	font-size: 14px;
	font-weight: 500;
	color: var(--color-font-text);
	margin-left: 50px;
	transition: all .4s;
	text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
	color: var(--blue);
}
/* end blok header */
/* section top-fon */
.top-fon {
	width: 100%;
	height: 600px;
	background-color: var(--color-fon);
	display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;
}
.top-title {
	width: 700px;
	height: 120px;
	font-size: 44px;
	line-height: 1.36;
	font-weight: 900;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white);
	margin-bottom: 30px;
}
.top-button {
	padding: 10px 30px;
	border: none;
	background-color: var(--blue);
	color: var(--white);
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	transition: all .4s;
}
.top-button:hover {
	background-color: #50affc;
}

/* end top-fon */
/* features */
.features {
	padding: 94px 0;
}
.features-items {
	list-style: none;
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.features-item {
	margin-right: 30px;
}
.hidden {
	font-size: 0px;
	width: 1px;
  height: 1px;
}
.feature-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--color-font-title);
	margin-bottom: 10px;
}
.feature-description {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
/* end features */
/* practice */
.practice {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 94px;
}
.practice-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--color-font-title);
	margin-bottom: 50px;
}
.practice-items {
	display: flex;
	list-style: none;
}
.practice-img {
	margin-right: 30px;
}
.practice-img:last-child {
	margin-right: 0;
}
/* end practice */
/* crew */
.crew {
	padding: 94px 0;
	background-color: var(--color-fon-crew);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.crew-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
	color: var(--color-font-title);
}
.partners {
	display: flex;
	list-style: none;
}
.crew-item {
	background-color: var(--white);
	text-align: center;
	margin-right: 30px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
	 	0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.crew-item:last-child {
	margin-right: 0;
}
.partner {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	margin: 30px 0 10px;
}
.function {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	margin: 10px 0 30px;
}
/* end crew */
/* footer */
.bg-footer {
	background-color: var(--color-fon);
	padding: 60px 0;
}
.footer {
	width: 1170px;
	margin: 0 auto;
}
.footer .logo {
	color: var(--white);
	margin-bottom: 20px;
}
.footer .logo:hover {
	color: var(--white);
}
.footer-contacts {
	list-style: none;
}
.link-adres {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--white);
	transition: all .4s;
	text-decoration: none;
}
.footer-link {
	opacity: .6;
}
.link-adres:hover,
.link-adres:focus {
	color: var(--blue);
}
/* end footer */
/* portfolio */
.portfolio {
 background-color: var(--white);
 border-top: 1px solid #ECECEC;
 padding: 94px 0;
}
.filters {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	list-style: none;
}
.filter + .filter {
	margin-left: 8px;
}
.button {
	padding: 6px 22px;
	border: none;
	background-color: var(--color-btn-portfolio);
	border-radius: 4px;
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--color-font-title);
}
.button:hover {
	background: var(--color-button-hover);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
	0px 1px 2px rgba(0, 0, 0, 0.08),
	0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	color: var(--white)FFF;
	transition: all	.4s;
}
.projects {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}
.project-item {
	background-color: var(--white);
	margin-bottom: 30px;
	border: 1px solid #EEEEEE;
}
.project-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin: 20px 24px 4px;
}
.article {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	margin: 0 24px 20px;
}